.structure-element:hover {
  .control-buttons {
    display: inline-block;
  }
}

.product_control {
  float: left;
  display: block;
  width: 20px;
  height: 20px;
  padding: 0;
  position: relative;
}

.icon-move-materials {
  &:before { content: @fa-var-paste; }
}